.contact {
  text-align: center;
  padding-bottom: 200px;
  padding: 50px;
  background-color: black;
  color: white;
}

.thank-you-message h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.thank-you-message p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.contact-info {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 25px;
    padding-bottom: 100px; /* Reduce bottom padding */
  }

  .thank-you-message h2 {
    font-size: 2rem; /* Reduce font size */
  }

  .thank-you-message p {
    font-size: 1.2rem;
  }

  .contact-info {
    font-size: 1rem;
    text-align: center;
  }

  .contact-details {
    display: flex;
    flex-direction: column; /* Stack elements for readability */
    align-items: center;
  }

  .contact-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px 0; /* Increase tap area */
    gap: 8px;
  }

  .social-links {
    margin-top: 20px;
  }

  .social-links a {
    font-size: 2rem; /* Increase icon size for better tapability */
    margin: 0 10px;
  }
}
